.header {
  height: 80px;
  display: block;
}

.language-switcher {
  /*
   * Feature toggle
   * should display when we have more langs
   */
  display: none;
}

.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ececec;

  & h1 {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    text-indent: -9999px;
    background-image: url('./images/logo.png');
  }
}

@media (width <= 606px) {
  .header {
    min-height: 0;
    height: 200px;
  }
}

@media (width <= 400px) {
  .header {
    height: 155px;
  }
}
